.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 8vh;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h2 {
  margin: 0;
  padding-right: 25px;
  color: white;
}

.App-header h2:hover {
  cursor: pointer;
  color: blue !important;
}

.App-admin {
  color: grey !important;
}

a {
  text-decoration: none;
}
